<!DOCTYPE html>
<html lang="mk">
<head>
  <meta charset="UTF-8" />
  <title>Exercise 1</title>
</head>
<body>
  <a href="/faculties">Листај факултети</a> |
  <a href="/faculties/new">Нов факултет</a>
  <hr />
  <%- body %>
</body>
</html>
